.button_root {
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 78px;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    transition: all .4s;
    box-shadow: 5px 5px 24px -2px rgb(80, 79, 79);
    border: none;
}

.button_root:hover {
    transform: scale(1.1);
}