.nav {
    display: flex;
    align-items: center;
    height: 4rem;
   
    border-bottom: 1px solid rgb(54, 54, 54);
    box-shadow: 5px 22px 12px 1px rgb(77, 77, 77);
   
}

.logo {
    display: flex;
    width: 50%;
    list-style: none;

}

.links {
    display: flex;
    width: 50%;
    justify-content:space-evenly;
    list-style: none;

  
}

